VITE_SUPABASE_URL=https://lrxmtedqkmyvzpocopoy.supabase.co
# WARNING: The key below appears to be a Stripe key. Please replace with your Supabase Anon Key.
VITE_SUPABASE_ANON_KEY=sb_publishable_GVIYy6qQJoByK_XCeuIqVA_JIJ-l8VB
