VITE_SUPABASE_URL=https://lrxmtedqkmyvzpocopoy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyeG10ZWRxa215dnpwb2NvcG95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NjQ1NjksImV4cCI6MjA5MDI0MDU2OX0.QMZ2OTnxyIWUgGdWRGtOQ3u-W1bwQf-cpT89lP6c-Ik
